   /* Parte  CSS - Estilizando cores de texto, paragrafos e fundo */
   
   h1 {
      top: 18px;
   }
   
   h2 {
    color: rgb(50, 118, 228);
    font-size: 2em;
}

body {
   background-color: aquamarine;
    font-size: 18px;
}

   /* Parte CSS - estilizando fotos */

.fotosurf {
   border-style: dashed;
}    

.fotoperfil {
   border-style: dashed;
}

.fotomacae {
   border-style: dashed;
   }

.fotoeumedico {
   border-style: dashed;
}

/* Parte  CSS - estilizando texto geral e da lista */

p {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: bolder; 
   font-style: italic;
   line-height: 40px;
   text-align: left;
   text-decoration: underline;
}
#Nascimento {
   color: rgb(230, 20, 20);
   }

#Formação {
   color: rgb(0, 56, 241);
}

#Curiosidade {   
color: rgb(25, 231, 25);   
}
/* Parte  CSS - Criando blocos */

.blocomacae {
   background-color: bisque;
}
.blocoformação {
   background-color: rgba(5, 221, 41, 0.472);
}
.blococuriosidade {
   background-color: rgba(11, 70, 180, 0.527);
}